<div class="mt-4 mb-4">
  <h3>Report example</h3>
  <p>Here you can see the example of the correct format of the <%= report.type %> csv file:</p>
  <div class="p-3 mb-2 bg-light text-dark">
    <samp>
      <%= report.example.join('<br>').html_safe %>
    </samp>
  </div>
</div>
