<div class='alert alert-danger alert-dismissible'>
  <button class='close' aria-label='Close' data-dismiss='alert' type='button'>
    <span aria-hidden='true'>&times;</span>
  </button>
  <%= message %>
</div>
